.top-bar {
    position: sticky;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-image: linear-gradient(to right, #c0b283,#f4f4f4);
    height: 35px;
    align-items: center;
}

#search-input, #search-button {
    height: 100%;
}

#logo {
    height: 50px;
    padding-bottom: 5px;
}
